body{
    background-color: #87CBB9;
    padding: 20%;
}

#message{
    height: 200px;

}

input {
    width: 300px;
    height: 30px;
    margin: 10px auto;
    background-color:  #F3E99F;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;


}

h2{
    color: #6D5D6E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #d5c3d6;
    border-radius: 5px;
    border-style: hidden;
    background-color: #393646;
    margin-top: 25px;

}

button:hover{
    background-color: #F3E99F;
    color: #393646;
}


